<ion-header>
  <ion-toolbar>
    <ion-title>Pembayaran</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="confirmForm">
  <ion-item>
    <ion-label>Id Order : <span style="color: brown; font-weight: bold;">#{{order_id}}</span></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Nama</ion-label>
    <ion-input placeholder="Nama" formControlName="nama"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Bank</ion-label>
    <ion-input placeholder="Bank" formControlName="bank"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Jumlah</ion-label>
    <ion-input placeholder="Jumlah" formControlName="jumlah"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Rekening</ion-label>
    <ion-input placeholder="Rekening" formControlName="rekening"></ion-input>
  </ion-item>
  <!-- <ion-item>
    <ion-label>Bank Account</ion-label>
    <ion-input placeholder="Bank Account" formControlName="bank_account"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label>Bank Account</ion-label>
    <ion-select placeholder="Pilih Account">
      <ion-select-option *ngFor="let item of dataAccount" value="{{item.id}}"><span style="font-size: 14px;">{{item.nama_bank}}</span></ion-select-option>
    </ion-select>
  </ion-item>
<ion-button expand="block" style="color: white;" (click)="confirm_payment()">Confirmasi Pembayaran</ion-button>
<ion-row>
  <ion-col col-12>
   <ion-item>
      <p style="color:#488aff">Foto</p> 
     <button ion-button color="secondary" (click)="selectImage()">Choose File</button>{{imageFileName}}
     <button ion-button (click)="uploadFile()">Upload</button>
   </ion-item>  
   <img *ngIf="GetImageNameUpload" src="http://10.0.2.2/blog/upload-image-ionic/uploads/{{GetImageNameUpload}}" width="80%">
   
  </ion-col>
</ion-row>
  </form>
</ion-content>
