<ion-card class="ion-no-margin">
  <ion-card-header>
    <img [src]="product?.img_medium" />
  </ion-card-header>
  <ion-card-content>
    <ion-card-title class="margin-top-30">{{ product?.name_item }}</ion-card-title>
    <ion-card-subtitle class="ion-padding-bottom"></ion-card-subtitle>
    <div class="price-container">
      <ion-text>
        {{ product?.harga | currency:'Rp':'symbol':'3.0'  }}
      </ion-text>
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
